body {
  text-align: center;
  background-color: #187498;
}

footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  bottom:0;
  color: #FEF2BF;
  cursor: pointer;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 2;
}

#game-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  margin-top: 70px;
  color: #FEF2BF;
}

.score {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #FF6B6B;
}

.green {
  background-color: #6BCB77;
}

.blue {
  background-color: #4D96FF;
}

.yellow {
  background-color: #FFD93D;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
